/* Base Styles */
.navbar {
    width: 100%;
    background: var(--primary-color-1);
    padding: 25px 0px;
    position: fixed;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    font-family: var(--font-sans-serif);
}

.stickynavbar {
    padding: 25px 20px;
    position: fixed;
    top: 0;
    left: 0;
    /* max-width: 100%; */
    width: 100%;
    z-index: 1000;
    background: var(--primary-color-1);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;

}

/* Logo */
.logoImage {
    width: 160px;
    height: auto;
}

/* Navbar Links */
.nav_links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav_links li {
    display: inline;
    /* background-color: yellow; */
    padding: 0px 20px;
}

.nav_links a {
    text-decoration: none;
    color: whtie;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
    color: var(--font-color-1)
}

.nav_links a:hover {
    color: var(--primary-color-2);
}

/* Dropdown Menu */
.dropdown {
    position: relative;
}

.dropdown_menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 200px;
    list-style: none;
    padding: 10px 0;
    border-radius: 4px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(10px);
    z-index: 999;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown_menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.dropdown_menu li {
    padding: 10px;
}

.dropdown_menu a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    display: block;
    transition: background 0.3s;
    padding: 8px 16px;
}

.dropdown_menu a:hover {
    background: var(--primary-green);
    color: white;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .dropdown_menu {
        position: static;
        width: 100%;
        box-shadow: none;
        background: white;
        opacity: 1;
        transform: none;
        display: none;
    }

    .dropdown:hover .dropdown_menu {
        display: none;
    }
}

/* Mobile Menu */
.menu_toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
    .menu_toggle {
        display: block;
    }

    .nav_links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: white;
        width: 200px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 10px;
    }

    .nav_links.open {
        display: flex;
    }

    .nav_links li {
        margin: 10px 0;
    }
}