:root {
  --font-sans-serif: sans-serif;
  --primary-color-1: #1e2d3b;
  --primary-color-2: #edcd1f;

  --background-color-1: #eae9e6;
  --font-color-1: #eee;
  --font-color-2: #5e6368;

}

body {
  margin: 0px;
}